<h1>旅遊客題</h1>
<h3>點擊地點進行季節旅遊人次分析</h3>
<div>
<h2>日本境內地區</h2><br />
<%= link_to "北海道", indexa01_path%><br />
<%= link_to "東京", indexa02_path%><br />
<%= link_to "關西(大阪、京都、名古屋)", indexa03_path%><br />
<%= link_to "北路(立山黑部、富山)", indexa04_path%><br />
<%= link_to "東北(花卷、仙台)", indexa05_path%><br />
<%= link_to "九州(福岡、宮崎、鹿兒島)", indexa06_path%><br />
<%= link_to "琉球", indexa07_path%><br />
<%= link_to "山陰、山陽(廣島、鳥取)", indexa08_path%><br />
<br />
</div>

<div>
<h2>韓國境內地區</h2><br />
<%= link_to "首爾", indexb01_path%><br />
<%= link_to "釜山", indexb02_path%><br />
<%= link_to "濟州島", indexb03_path%><br />
<%= link_to "韓國(迷你小團)", indexb04_path%><br />
<br />
</div>

<div>
<h2>泰國境內地區</h2><br />
<%= link_to "曼谷(桂河、芭達雅、華欣)", indexc01_path%><br />
<%= link_to "普吉島、蘇梅島", indexc02_path%><br />
<%= link_to "泰北(清邁、清萊)", indexc03_path%><br />
<%= link_to "泰國(迷你小團)", indexc04_path%><br />
<br />
</div>

<div>
<h2>馬新地區</h2><br />
<%= link_to "馬來西亞(迷你小團)", indexd01_path%><br />
<%= link_to "吉隆坡、麻六甲、海中天、邦喀島", indexd02_path%><br />
<%= link_to "檳城、蘭卡威、樂浪島、刁曼島", indexd03_path%><br />
<%= link_to "東馬(沙巴、沙勞越、汶萊)", indexd04_path%><br />
<%= link_to "新加坡", indexd05_path%><br />
<%= link_to "馬來西亞+新加坡", indexd06_path%><br />	
<br />
</div>

<div>
<h2>菲律賓</h2><br />
<%= link_to "馬尼拉、宿霧、巴拉望", indexp01_path%><br />
<%= link_to "長灘島", indexp01_path%><br />
<%= link_to "馬尼拉、宿霧、長灘島", indexe04_path%><br />
<%= link_to "巴拉望", indexe05_path%><br />
<br />
</div>

<div>
<h2>印尼境內地區</h2><br />
<%= link_to "巴里島(迷你小團)", indexe01_path%><br />
<%= link_to "巴里島", indexe02_path%><br />
<%= link_to "雅加達、泗水、印尼全覽", indexe03_path%><br />	
<br />
</div>

<div>
<h2>中南半島地區</h2><br />
<%= link_to "柬埔寨(金邊、吳哥窟)", indexf01_path%><br />
<%= link_to "越南(南越、北越、南北越、越南＋中國)", indexf02_path%><br />
<%= link_to "緬甸", indexf03_path%><br />
<%= link_to "寮國", indexf04_path%><br />	
<br />
</div>

<div>
<h2>中國大陸地區</h2><br />
<%= link_to "北京（北京、天津、承德）", indexg01_path%><br />
<%= link_to "江南(上海、杭州、寧波、南京、鹽城、無錫)", indexg02_path%><br />
<%= link_to "廣西（桂林、南寧）", indexg03_path%><br />
<%= link_to "雲南（昆明、大理、麗江）、貴州", indexg04_path%><br />
<%= link_to "福建（福州、廈門、小三通）", indexg05_path%><br />
<%= link_to "山東、東北三省(青島、大連、瀋陽、哈爾濱)", indexg06_path%><br />
<%= link_to "成都九寨溝、重慶、武漢、長江三峽", indexg07_path%><br />
<%= link_to "西安、河南、絲路、新疆、內蒙、西藏", indexg08_path%><br />
<%= link_to "海南島（三亞、海口）", indexg09_path%><br />
<%= link_to "湖南張家界、江西南昌、黃山 ", indexg10_path%><br />
<%= link_to "中國（迷你小團）", indexg11_path%><br />	
<br />
</div>

<div>
<h2>港澳地區</h2><br />
<%= link_to "香港（香港、港澳）", indexh01_path%><br />
<%= link_to "澳門", indexh02_path%><br />
<%= link_to "港澳＋廣東（港澳、珠海、深圳、廣州）", indexh03_path%><br />	<br />
</div>



<div>
<h2>太平洋&印度洋島嶼</h2><br />
<%= link_to "關島", indexj01_path%><br />
<%= link_to "帛琉", indexj02_path%><br />
<%= link_to "馬爾地夫", indexj03_path%><br />
<br />
</div>

<div>
<h2>紐澳地區</h2><br />
<%= link_to "澳洲（雪梨、黃金海岸）", indexk01_path%><br />
<%= link_to "澳洲（雙城、全覽）", indexk02_path%><br />
<%= link_to "紐西蘭", indexk03_path%><br />
<br />
</div>

<div>
<h2>歐洲地區</h2><br />
<%= link_to "中西歐", indexl01_path%><br />
<%= link_to "東歐", indexl02_path%><br />
<%= link_to "北歐", indexl03_path%><br />
<%= link_to "南歐", indexl04_path%><br />
<%= link_to "俄羅斯", indexl05_path%><br />
<br />
</div>
<div>
<h2>美加地區</h2><br />
<%= link_to "美國 (美西、美東、美加東)", indexi01_path%><br />
<%= link_to "夏威夷", indexi02_path%><br />
<%= link_to "加拿大", indexi03_path%><br />
<br />
</div>
<div>
<h2>中東&南亞&非洲</h2><br />
<%= link_to "印度、尼泊爾、杜拜", indexm01_path%><br />
<%= link_to "土耳其、埃及、南非", indexm02_path%><br />
<%= link_to "俄羅斯", indexm03_path%>	<br />
<br />
</div>

<div>
<h2>全球遊輪</h2><br />
<%= link_to "阿拉斯加遊輪", indexn01_path%><br />
<%= link_to "歐洲遊輪", indexn02_path%><br />
<%= link_to "亞洲遊輪", indexn03_path%><br />
<%= link_to "美洲遊輪", indexn04_path%><br />
<%= link_to "大洋洲遊輪", indexn05_path%><br />
<%= link_to "加勒比海郵輪", indexn06_path%><br />
<%= link_to "中東遊輪", indexn07_path%><br />
<br />
</div>

<div>
<h2>台灣</h2><br />
<%= link_to "台灣", indexo01_path%><br />	
<br />
</div>

